@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;600;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ECF8E5;
    font-family: "Source Sans 3", sans-serif;
}

a {
    text-decoration: none;
    color: #347571;
}

.header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.menuLink {
    margin-top: 10px;
    font-family: "Mukta", sans-serif;
    color: #054D40;
}

.menuLink a {
    font-size: 20px;
    margin-right: 20px;
}


#home img {
    max-width: 100%; /* Diminui o tamanho da imagem */
    height: auto;
    margin-left: 20%;
    margin-top: 10%;
}


.txt1 {
    max-width: 30%;
    margin-top: 7%;
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
    font-family: "Mukta", sans-serif;
    color: #054D40;
 
}

.img1 {
    width: 700px;
    height: auto;
}

h2 {
    font-family: "Mukta", sans-serif;
    color: #054D40;
}

#mapa h1{
    max-width: 500px;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 20%;
}


#mapa {
    width: 100vh;
    height: 100vh;
}

#map {
    width: 40rem;
    height: 27rem;
    margin-top: -65%;
    margin-left: 100%;
    border-radius: 10%;
}

.buscaMapa { 
    display: flex;
    margin-left: 10%;
}

.buscaMapa input {
    margin-left: 5%;
  
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #347571;
    border-radius: 5px 0 0 5px;
}

.buscaMapa button {
    margin-top: 0%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #347571;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    width: 15%;
}

dialog{
    background-color: #ECF8E5;
    border-radius: 10%;
    width: 600px;
    height: 700px;
    line-height: 35px;
    font-size: 20px;
}

.dialogs label{
    font-family:  "Source Sans 3", sans-serif;   
}

.buscaMapa button:hover {
    background-color: #285d5b;
}


.interface{
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
    

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

#cardBusca{
    
    position: relative;
    width: 380px;
    height: 400px;
    overflow-y: auto;
    margin: 30px;
    border-radius: 15px;
    background: rgba(5, 179, 11, 0.5); 
    display: flex;
    justify-content: relative;
    backdrop-filter: blur(8px);
    text-align: left;
}

.img2 img{
    width: 580px;
    height: auto;
    margin-left: 80px;
}

.txt2 {
    max-width: 50%;
    margin-top: 0%;
    text-align: left;    
    margin-left: 10%;
    font-size: 20px;
    font-family: "Mukta", sans-serif;
    color: #054D40;
    word-spacing: 2px;
}
